{{#each .}}

<div class="contact" data-contactId="{{ContactId}}" data-firstname="{{FirstName}}" data-lastname="{{LastName}}"
    data-phonenumber="{{PhoneNumber}}" data-streetnumber="{{StreetNumber}}" data-street="{{Street}}"
    data-city="{{City}}" data-state="{{State}}" data-country="{{Country}}" data-lat="{{Lat}}" data-lng="{{Lng}}">
    <div class="name">{{FirstName}} {{LastName}}</div>
    <button class="locateBtn">Fly To</button>
    <button class="deleteBtn">Delete</button>
    <button class="editBtn">Edit</button>
</div>
{{/each}}